.list {
  text-align: center;
}

.list .table {
  margin-left: auto;
  margin-right: auto;
}

.list .logout-button {
  margin-top: 10px;
}

.active {
  background-color: rgba(0, 0, 0, 0.07) !important;
}

.name-input {
  margin-bottom: 10px;
}

.icon-input {
  margin-bottom: 10px;
}
